/* Breakpoint mixins */


// @mixin for-narrow-layout {
//     @media (min-width: $padded-break-narrow ) {
//         @content;
//     }
// }

@mixin for-normal-layout {

  // @media (min-width: $padded-break-normal ) {
  @media (min-width: 700px) {
    @content;
  }
}

// @mixin for-wide-layout {
//   @media (min-width: $padded-break-wide ) {
//     @content;
//   }
// }

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: calc(($height / $width) * 100%);
  }

  >* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  >img {
    height: 100%;
    object-fit: cover;
  }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin bold800 {
  font-weight: 800;
}
@mixin bold700 {
  font-weight: 700;
}

@mixin bold600 {
  font-weight: 600;
}

@mixin decoration-line {
  display: block;
  height: 0.25em;
  width: 3em;
}