.index-layout {
    display: grid;
    grid-template-columns: $layoutPadding-small 1fr $layoutPadding-small;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-normal-layout {
        grid-template-columns:
            minmax($layoutPadding-wide, auto) minmax(auto,$break-normal) minmax($layoutPadding-wide, auto);
    }

}