.app-index {
  padding: 0;
  margin: 0;
  height: 5px;
  height: 75vh;
  background-color: $cls-app-index-bgc;

  section {
    width: 100%;
    height: 100%;
    display: flex;

    .pig-img {
      height: 100%;
      width: 55%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      img {
        width: 350px;
      }
    }

    .app-index-txt {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .tisser {
        margin-top: 30px;
        font-size: 1.7em;
        font-weight: bold;
        text-align: center;
        transform: translateY(-70px);
      }
      .pages-links {
       @include flex-center;
        flex-wrap: wrap;

        // flex-direction: column;  
        .link-box {
          @include flex-center;
          padding: 30px 0;
          width: 250px;
          margin: 0.5em;
          height: 4em;
          background-color: $clr1;
          border-radius: 10px;
          color: $white;
          text-align: center;
          font-size: 1.2em;

          &:hover {
            text-decoration: underline;
            box-shadow: 0.5px 0.5px 2px 2px rgba(217, 0, 255, 0.534);
            cursor: pointer;
          }
        }
      }
    }
  }
}